
  body {
    background-color: #E3C376;
  }

  /*Main-Header*/

  #main-header {
    color: #982020;
    margin: auto;
    justify-content: center;
    background-color: #E3C376;
    width: 29rem;
  }

  #header1 {
    display: flex;
    width: 29rem;
    justify-content: center;
  }

  #main-title {
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    text-shadow: .15rem .15rem black;
    width: 18.5rem;
    margin-top: 3.6rem;
    margin-bottom: 0px;
  }

  #logo {
    width: 8.9rem;
    height: 8.8rem;
    margin-top: 1rem;
    margin-left: .3rem;
  }

  #sub-title {
    width: 30rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Lobster', cursive;
    color: #DB5825;
    text-shadow: .05rem .05rem black;
    margin-top: -8px;
    justify-content: center;
    margin-left: -1rem;
  }


  /*Search*/

  #search {
    text-align: center;
    margin: auto;
    margin-top: 150px;
  }

  #submission {
    width: 40rem;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #E3C376;
    border: none;
    border-bottom: .35vw dashed white;
    outline: none;
    font-family: 'Lobster', cursive;
    font-size: 2.7rem;
    color: #553619;
  }

  #search-button {
    background-color: #EE860C;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-family: 'Lobster', cursive;
    font-size: 1.3vw;
    border: .15vw #553619 solid;
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
  }

  #search-button:hover {
    font-size: 1.4vw;
    border: .20vw #553619 solid;
  }


  /*Results-Placeholder*/

  #resultsPlaceholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
    margin: auto;
    margin-bottom: 190px;
  }

  .results {
    height: 21vw;
    width: 20vw;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 2.25vw;
    margin-left: 2.25vw;
    padding-top: 20px;
    text-align: center;
    background-image: url('leather-background.jpg');
    background-size: cover;
    border-radius: 5%;
    border: .20vw dashed #F3D217;
    cursor: pointer;
    box-shadow: .5vw .5vw .5vw #3F3F3F;
  }

  .results p {
    width: 17vw;
    font-size: 1.3vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 20px;
    display: block;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .1rem;
    color: #FFD91D;
    padding-left: 5px;
    margin-top: 10px;
    text-align: left;
    text-shadow: 2px 2px black;
  }

  .track-art {
    border-radius: 100%;
    margin: auto;
    border: 3px solid #D8AE0E;
    box-shadow: 2px 2px black;
    width: 10vw;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .title {
    padding-left: 20px;
    margin-bottom: 0px;
  }

  .userName {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  #play-button {
    background-color: #EE860C;
    color: white;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Lobster', cursive;
    font-size: 1.2vw;
    border: .15vw solid white;
    border-radius: 10%;
    outline: none;
    cursor: pointer;
  }

  #play-button:hover {
    background-color: white;
    color: #EE860C;
    border: .15vw solid black;
  }


  /*Player-Placeholder*/

  #playerPlaceholder {
    display: flex;
    position:fixed;
    bottom:0;
    margin: auto;
    background-color: black;
    margin-left: -8px;
    height: 125px;
    width: 100vw;
  }

  #player-art {
    width: 125px;
    border: .4vw solid white;
    background-color: #E3C376;
  }

  #player-name {
    margin: auto;
    width: 25vw;
    color: white;
    font-size: 18px;
    margin-left: 1.7vw;
    margin-right: 2vw;
    font-style: italic;
  }

  #music-player {
    width: 17rem;
    margin-top: 40px;
    justify-content: center;
    margin-left: 1.5rem;
  }
