
  body {
    background-color: #E3C376;
  }

  /*Header*/

  #main-header {
    color: #982020;
    margin: auto;
    justify-content: center;
    background-color: #E3C376;
    width: 29rem;
  }

  #header1 {
    display: flex;
    width: 29rem;
    justify-content: center;
  }

  #main-title {
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    text-shadow: .15rem .15rem black;
    width: 18.5rem;
    margin-top: 3.6rem;
    margin-bottom: 0px;
  }

  #logo {
    width: 8.9rem;
    height: 8.8rem;
    margin-top: 1rem;
    margin-left: .3rem;
  }

  #sub-title {
    width: 30rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Lobster', cursive;
    color: #DB5825;
    text-shadow: .05rem .05rem black;
    margin-top: -8px;
    justify-content: center;
    margin-left: -1rem;
  }


  /*Search*/

  #search {
    text-align: center;
    margin: auto;
    margin-top: 9rem;
  }

  #submission {
    width: 40rem;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #E3C376;
    border: none;
    border-bottom: .32rem dashed white;
    outline: none;
    font-family: 'Lobster', cursive;
    font-size: 2.7rem;
    color: #553619;
  }

  #search-button {
    background-color: #EE860C;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.3%;
    padding-right: 1.3%;
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
    border: .18rem #553619 solid;
    border-radius: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
  }

  #search-button:hover {
    font-size: 1.3rem;
    border: .20rem #553619 solid;
  }


  /*Results*/

  #resultsPlaceholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 68rem;
    margin: auto;
    margin-bottom: 11rem;
  }

  .results {
    height: 18.8rem;
    width: 17rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    padding-top: 20px;
    text-align: center;
    background-image: url('leather-background.jpg');
    background-size: cover;
    border-radius: 5%;
    border: .21rem dashed #F3D217;
    cursor: pointer;
    box-shadow: .5vw .5vw .5vw #3F3F3F;
  }

  .results p {
    width: 15rem;
    font-size: 1.15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: .2rem;
    display: block;
    font-family: 'Fredoka One', sans-serif;
    letter-spacing: .1rem;
    color: #FFD91D;
    margin-top: .4rem;
    text-align: left;
    text-shadow: .12rem .12rem black;
  }

  .track-art {
    border-radius: 100%;
    margin: auto;
    border: .15rem solid #DEDEDE;
    box-shadow: .12rem .12rem black;
    width: 9rem;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .track-art:hover {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .title {
    padding-left: 20px;
    margin-bottom: 0px;
  }

  .userName {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  #play-button {
    background-color: #9C0000;
    color: white;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Lobster', cursive;
    font-size: 1.3rem;
    border: .15vw solid white;
    border-radius: 15%;
    outline: none;
    cursor: pointer;
  }

  #play-button:hover {
    background-color: #EF8201;
    color: white;
    border: .15vw solid white;
  }


  /*Player*/

  #playerPlaceholder {
    display: flex;
    position:fixed;
    bottom:0;
    margin: auto;
    background-color: black;
    margin-left: -8px;
    height: 125px;
    width: 1490px;
  }

  #player-art {
    width: 130px;
    border: .1rem solid white;
    background-color: #E3C376;
  }

  #player-name {
    margin: auto;
    width: 21.5rem;
    color: white;
    font-size: 22px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-style: italic;
  }

  #music-player {
    width: 17rem;
    margin-top: 40px;
    justify-content: center;
    margin-left: 2rem;
  }


  /*Tablet Responsive (1024px)*/

  @media screen and (max-width: 1024px) and (min-width: 768px) {

    body {
      width: 1128px;
    }

    /*Search*/

    #submission {
      width: 45rem;
      border-bottom: .37rem dashed white;
      font-size: 3.3rem;
    }

    #search-button {
      font-size: 1.5rem;
    }

    #search-button:hover {
      font-size: 1.6rem;
    }


    /*Results*/

    #resultsPlaceholder {
      margin-left: 3em;
    }

    #play-button {
      font-size: 1.5rem;
    }


    /*Player*/

    #playerPlaceholder {
      height: 160px;
    }

    #player-art {
      width: 160px;
      background-color: #E3C376;
    }

    #player-name {
      font-size: 27px;
      width: 17rem;
      margin-right: 0px;
    }

    #music-player {
      width: 18rem;
      margin-top: 55px;
    }
  }


  /* Mobile Responsive (1024px)*/

  @media screen and (max-width: 766px) and (min-width: 300px) {

    body {
      width: 1130px;
    }

    /*Header*/

    #header1 {
      display: flex;
      width: 29rem;
      justify-content: center;
    }

    #main-title {
      font-size: 6rem;
      text-shadow: .17rem .17rem black;
      width: 22.2rem;
    }

    #logo {
      width: 9.7rem;
      height: 9.6rem;
      margin-top: 1.3rem;
    }

    #sub-title {
      font-size: 1.9rem;
      text-shadow: .07rem .07rem black;
    }


    /*Search*/


    #submission {
      width: 45rem;
      border-bottom: .50rem dashed white;
      font-size: 3.7rem;
    }

    #search-button {
      margin-top: 2rem;
      font-size: 1.9rem;
    }

    #search-button:hover {
      font-size: 2rem;
    }


    /*Results*/

    #resultsPlaceholder {
      justify-content: center;
      margin-left: 3.3em;
      width: 68rem;
    }

    .results {
    width: 40rem;
    height: 27.5rem;
    border: .4rem dashed #F3D217;
    margin-bottom: 40px;
    }

    .results p {
      width: 35rem;
      font-size: 2rem;
    }

    .track-art {
      width: 14rem;
    }

    #play-button {
      font-size: 2.2rem;
    }


    /*Player*/

    #playerPlaceholder {
      height: 200px;
    }

    #player-art {
      width: 200px;
      background-color: #E3C376;
    }

    #player-name {
      font-size: 34px;
      width: 20rem;
      margin-right: 0px;
    }

    #music-player {
      width: 21rem;
      margin-top: 75px;
    }
  }
